config/Android*
config/Electron
config/Google
config/JetBrains/
config/QtProject*
config/VSCodium*
config/ardour7
config/dconf/
config/galculator
config/gtk-3.0/
config/libreoffice
config/lvim/
config/menus/
config/nvim/plugin*
config/obsidian/
config/tool_state
config/user-dirs.dirs
config/user-dirs.locale
config/coc/
